<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Ingreso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/empleados'}">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-4 border-bottom">Nuevo Ingreso</h1>
        <form method="post" th:action="@{'/guardar'}" class="col-4">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="nombre"/>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input name="apellido" type="text" class="form-control" id="apellido"/>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="text" class="form-control" id="email"/>
            </div>

            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input  name="contrasena" type="text" class="form-control" id="contrasena"/>
            </div>

            <div class="mb-3">
                <label for="puesto" class="form-label">Puesto</label>
                <input  name="puesto" type="text" class="form-control" id="puesto"/>
            </div>

            <div class="mb-3">
                <label for="sueldo" class="form-label">Sueldo</label>
                <input  name="sueldo" type="text" class="form-control" id="sueldo" />
            </div>

            <div class="mb-3">
                <label for="jefe" class="form-label">Jefe</label>
                <input name="jefe" type="text" class="form-control" id="jefe"/>
            </div>

            <div class="mb-3">
                <label for="departamento" class="form-label">Departamento</label>
                <input name="departamento" type="text" class="form-control" id="departamento" readonly/>
            </div>


            <a th:href="@{'/empleados'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>